@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 24px;
}

.purple {
  color: #6415ff;
}

.cursor__pointer {
  cursor: pointer;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* 

NAVIGATION BAR 

*/

nav {
  height: 44px;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__header--logo {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
}

.nav__logo--T {
  height: 40px;
  width: 40px;
  margin: 0 12px 0 0;
  display: flex;
  align-items: center;
}

.nav__logo--Treact {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  margin: 8px 0;
  padding: 0 0 4px;
  color: #243e63;
  top: 2px;
}

.nav__links {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav__link {
  margin: 0 24px;
  padding: 0 0 4px;
  text-decoration: none;
  color: #243e63;
  font-weight: 600;
  font-size: 14px;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.btn {
  border-radius: 9999px;
  border: none;
  padding: 12px 32px;
  background-color: #6415ff;
  color: #f7fafc;
  font-weight: 600;
  border-bottom-width: 0px;
  line-height: inherit;
}

/*

LANDING

*/

.header__container {
  padding: 116px 0;
  padding-bottom: 168px;
}

.section__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 42%;
  margin: 0 auto;
  margin: 28px 0;
}

.section__description {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #243e63;
  font-size: 18px;
}

.section__title {
  color: #1a202c;
  display: block;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header__img {
  width: 58%;
}

.landing {
  display: flex;
}

.landing__img {
  width: 100%;
}

.header__login {
  width: 100%;
}

.header__email {
  background-color: #ffffff;
  opacity: 0.75;
  font-weight: 500;
  font-size: 16px;
  color: gray;
  cursor: text;
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid lightgray;
}

.header__login--btn {
  position: absolute;
  right: 960px;
  top: 66.5vh;
  font-size: 16px;
}

.sponsors {
  margin: 80px 0 0;
  width: 100%;
  max-width: 1280px;
  opacity: 0.5;
}

.sponsors__title {
  font-size: 12px;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
  text-align: left;
  margin: 0;
  font-weight: 700;
}

.sponsor {
  width: 100%;
  width: 533.33px;
  margin: 16px 0 0;
  padding: 0 128px 0 0;
}

/*

FEATURES

*/

.features {
  padding: 52px 0;
}

.features__title {
  text-align: center;
  color: #243e63;
}

.section__subtitle {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px;
}

.title__features {
  text-align: center;
  font-weight: 900;
}

.features__description {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 16px;
  color: #7c8ba1;
}

.features___images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features__img {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 9999px;
}

.features__image {
  display: flex;
  flex-direction: row;
  padding: 32px 8px;
  width: calc(100% / 3);
}

.features__description--right {
  margin: 8px 0 0 16px;
  width: 100%;
}

.features__descriptions {
  margin: 16px 0 0;
  font-size: 16px;
  text-align: left;
  line-height: 2;
  color: #7c8ba1;
  font-weight: 450;
}

.features__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}

.row__features {
  padding: 0px 140px;
}

/* 

QualityWorks

*/

.container__qualityworks {
  padding: 168px 0;
}

.quality__works {
  display: flex;
  flex-direction: row;
}

.qualityworks__title {
  font-weight: 900;
}

.quality__works--text {
  width: 80%;
  padding: 32px 0;
}

.qualityworks__description {
  width: 90%;
  margin-top: 16px;
}

.quality__work--image {
  width: 100%;
  padding: 8px 0;
}

.qualityworks__subtitle {
  line-height: 1.5;
  font-weight: 700;
}

/*

STEPS

*/

.container__steps {
  padding-bottom: 96px;
}

.steps__subtitle {
  font-weight: 700;
}

.steps__title {
  font-weight: 900;
}

.steps__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.steps__image {
  width: 90%;
  padding-top: 72px;
}

.steps__text {
  width: 50%;
}

.steps__icon {
  color: #c8d5e0;
  font-size: 36px;
  font-weight: 600;
}

.steps__icon--wrapper {
  display: flex;
  flex-direction: row;
  margin: 32px 0 0;
}

.steps__message {
  margin: 0 0 0 24px;
}

.steps__description {
  margin: 12px 0 0;
  font-size: 14px;
  width: 80%;
  color: #718096;
  line-height: 2;
  font-weight: 500;
}

.steps__title-1 {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.description2 {
  width: 65%;
}

.description3 {
  width: 65%;
}

/* 

VALUES

*/

.values__container {
  padding: 96px 0;
}

.values__wrapper {
  display: flex;
  flex-direction: row;
}

.values__text--wrapper {
  padding: 32px 0;
  padding-right: 60px;
  width: 90%;
}

.values__img {
  width: 100%;
  padding: 60px 0;
}

.values__title {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

.values__description {
  font-size: 18px;
  color: #7c8ba1;
  width: 91%;
  margin: 32px 0 0 0;
  font-weight: 500;
  line-height: 1.625;
}

.icon--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.icon__title {
  margin: 0 0 0 12px;
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  letter-spacing: 0;
}

.fa-dollar-sign {
  background-color: #9ae6b4;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
}

.fa-user-tie {
  background-color: #feb2b2;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
}

.section__icons {
  display: flex;
}

.section__icons--wrapper {
  margin: 32px 32px 0 0;
}

.icon__description {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 1.625;
  color: #718096;
}

.values__btn {
  margin: 48px 0 0;
}

/*

PRICING

*/

.pricing__text {
  margin: 40px 0 0;
  text-align: center;
}

.pricing__plan {
  margin: 64px 32px 0 0;
}

.pricing__title {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 16px;
  letter-spacing: 0.025em;
}

.pricing__description {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #718096;
  line-height: 1.625;
  font-weight: 500;
}

.section__subtitle {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pricing__plans {
  display: flex;
  justify-content: space-between;
}

.pricing__plan {
  position: relative;
  border: 0.1px solid #e5e7eb;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: calc(100% / 3);
  border-radius: 0.5rem;
  max-width: 24rem;
}

.pricing__plan--wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  padding-top: 40px;
  width: 100%;
}

.features--wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.title {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.feature {
  font-size: 16px;
  color: #718096;
  margin: 20px 0 0;
  font-weight: 500;
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0;
}

.duration {
  font-size: 16px;
  color: #a0aec0;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.625;
  text-align: center;
}

.price {
  font-size: 48px;
  color: #1a202c;
  margin: 4px 0;
  font-weight: 700;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0;
}

.feature1button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 60px;
  margin: 0 auto;
  color: #f7fafc;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  font-weight: 700;
}

.pricing__plan--blue {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.name--blue,
.title--blue,
.price--blue {
  color: #f7fafc;
}

.duration--blue {
  color: #edf2f7;
}

.feature--blue {
  color: #e2e8f0;
}

.feature1button--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
}

.feature__button1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
}
.feature__button2 {
  background-color: #f7fafc;
  color: #6415ff;
}

.feature__button3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: #f7fafc;
}

.highlight {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.highlight--blue {
  opacity: 0;
}

.highlight--coral {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.container__pricing {
  padding: 96px 24px;
}

/*

TESTIMONIALS

*/

.container__testimonials {
  padding: 96px 24px;
}

.row__testimonials {
  display: flex;
}

.fivestars {
  color: #fabf2a;
}

.testimonials__image {
  width: 100%;
}

.testimonials__text {
  width: 77.5%;
  padding: 0 0 0 64px;
}

.testimonials__subtitle {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.testimonials__title {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
}

.testimonials__description {
  margin: 24px 0 32px 0;
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

.fivestars__title {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 16px 0 0;
  letter-spacing: normal;
}

.fivestars__description {
  margin: 16px 0 40px;
  font-size: 16px;
  color: #4A5568;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: normal;
  width: 576px;
}

.profile__profile--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pfp {
  height: 80px;
  width: 80px;
  border-radius: 9999px;
}

.profile--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__name {
  margin-left: 18px;
}

.profile__title {
  margin-left: 18px;
}