@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 24px;
}

.purple {
  color: #6415ff;
}

.cursor__pointer {
  cursor: pointer;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-1200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(1200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 

NAVIGATION BAR 

*/

nav {
  height: 44px;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__header--logo {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
}

.nav__logo--T {
  height: 40px;
  width: 40px;
  margin: 0 12px 0 0;
  display: flex;
  align-items: center;
}

.nav__logo--Treact {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  margin: 8px 0;
  padding: 0 0 4px;
  color: #243e63;
  top: 2px;
  transition: all 300ms ease;
}

.nav__header--logo:hover .nav__logo--Treact {
  color: #6415ff;
}

.nav__links {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav__link {
  margin: 0 24px;
  padding: 0 0 4px;
  text-decoration: none;
  color: #243e63;
  font-weight: 600;
  font-size: 14px;
  transition: text-decoration 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline 3px;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.btn {
  border-radius: 9999px;
  border: none;
  padding: 12px 32px;
  background-color: #6415ff;
  color: #f7fafc;
  font-weight: 600;
  border-bottom-width: 0px;
  line-height: inherit;
  transition: all 300ms ease;
}

.nav__btn:hover {
  background-color: #4e0ecf;
}

/*

LANDING

*/

.header__container {
  padding: 116px 0;
  padding-bottom: 168px;
  animation: slide-left 650ms ease;
}

.section__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 42%;
  margin: 0 auto;
  margin: 28px 0;
}

.section__description {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #243e63;
  font-size: 18px;
}

.section__title {
  color: #1a202c;
  display: block;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header__img {
  width: 58%;
}

.landing {
  display: flex;
}

.landing__img {
  width: 100%;
}

.header__login {
  width: 100%;
  position: relative;
}

.header__email {
  background-color: #ffffff;
  opacity: 0.75;
  font-weight: 500;
  font-size: 16px;
  color: gray;
  cursor: text;
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid lightgray;
  transition: all 300ms ease;
}

.header__email:hover {
  border: 2px solid gray;
  cursor: text;
}

.header__login--btn {
  position: absolute;
  left: 280px;
  top: 10px;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__login--btn:hover {
  background-color: #4e0ecf;
}

.sponsors {
  margin: 80px 0 0;
  width: 100%;
  max-width: 1280px;
  opacity: 0.5;
}

.sponsors__title {
  font-size: 12px;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
  text-align: left;
  margin: 0;
  font-weight: 700;
}

.sponsor {
  width: 100%;
  width: 533.33px;
  margin: 16px 0 0;
  padding: 0 128px 0 0;
}

/*

FEATURES

*/

.features {
  padding: 52px 0;
}

.container__features {
  animation: slide-right 650ms ease;
}

.features__title {
  text-align: center;
  color: #243e63;
}

.section__subtitle {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px;
  line-height: 0.75;
}

.title__features {
  text-align: center;
  font-weight: 900;
}

.features__description {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 16px;
  color: #7c8ba1;
}

.features___images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features__img {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 9999px;
}

.features__image {
  display: flex;
  flex-direction: row;
  padding: 32px 8px;
  width: calc(100% / 3);
}

.features__description--right {
  margin: 8px 0 0 16px;
  width: 100%;
}

.features__descriptions {
  margin: 16px 0 0;
  font-size: 16px;
  text-align: left;
  line-height: 2;
  color: #7c8ba1;
  font-weight: 450;
}

.features__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}

.row__features {
  padding: 0px 140px;
}

/* 

QualityWorks

*/

.container__qualityworks {
  padding: 168px 0;
}

.quality__works {
  display: flex;
  flex-direction: row;
}

.qualityworks__title {
  font-weight: 900;
}

.quality__works--text {
  width: 80%;
  padding: 32px 0;
}

.qualityworks__description {
  width: 90%;
  margin-top: 16px;
}

.quality__work--image {
  width: 100%;
  padding: 8px 0;
}

.qualityworks__subtitle {
  line-height: 1.5;
  font-weight: 700;
}

.qualitywork__btn {
  transition: all 300ms ease;
}

.qualitywork__btn:hover {
  background-color: #4e0ecf;
}

/*

STEPS

*/

.container__steps {
  padding-bottom: 96px;
}

.steps__subtitle {
  font-weight: 700;
}

.steps__title {
  font-weight: 900;
}

.steps__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.steps__image {
  width: 90%;
  padding-top: 72px;
}

.steps__text {
  width: 48%;
}

.steps__icon {
  color: #c8d5e0;
  font-size: 36px;
  font-weight: 600;
}

.steps__icon--wrapper {
  display: flex;
  flex-direction: row;
  margin: 32px 0 0;
}

.steps__message {
  margin: 0 0 0 24px;
}

.steps__description {
  margin: 12px 0 0;
  font-size: 14px;
  width: 80%;
  color: #718096;
  line-height: 2;
  font-weight: 500;
}

.steps__title-1 {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.description2 {
  width: 65%;
}

.description3 {
  width: 65%;
}

/* 

VALUES

*/

.values__container {
  padding: 96px 0;
}

.values__wrapper {
  display: flex;
  flex-direction: row;
}

.values__text--wrapper {
  padding: 32px 0;
  padding-right: 60px;
  width: 90%;
}

.values__img {
  width: 100%;
  padding: 60px 0;
}

.values__title {
  font-weight: 900;
  color: rgba(36, 62, 99);
  font-size: 48px;
  line-height: 1.25;
}

.values__description {
  font-size: 18px;
  color: #7c8ba1;
  width: 91%;
  margin: 32px 0 0 0;
  font-weight: 500;
  line-height: 1.625;
}

.icon--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.icon__title {
  margin: 0 0 0 12px;
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  letter-spacing: 0;
}

.fa-dollar-sign {
  background-color: #9ae6b4;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
}

.fa-user-tie {
  background-color: #feb2b2;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
}

.section__icons {
  display: flex;
}

.section__icons--wrapper {
  margin: 32px 32px 0 0;
}

.icon__description {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 1.625;
  color: #718096;
}

.values__btn {
  margin: 48px 0 0;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 700;
  color: rgba(247, 250, 252);
  transition: all 300ms ease;
}

.values__btn:hover {
  background-color: #4e0ecf;
}

/*

PRICING

*/

.pricing__text {
  margin: 40px 0 0;
  text-align: center;
}

.pricing__plan {
  margin: 64px 32px 0 0;
}

.pricing__title {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 16px;
  letter-spacing: 0.025em;
}

.pricing__description {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #718096;
  line-height: 1.625;
  font-weight: 500;
}

.section__subtitle {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pricing__plans {
  display: flex;
  justify-content: space-between;
}

.pricing__plan {
  position: relative;
  border: 0.1px solid #e5e7eb;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: calc(100% / 3);
  border-radius: 0.5rem;
  max-width: 24rem;
}

.pricing__plan--wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  padding-top: 40px;
  width: 100%;
}

.features--wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.features--wrapper--blue {
  border-top: 2px solid rgba(102, 126, 234);
  border-bottom: 2px solid rgba(102, 126, 234);
}

.title {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.feature {
  font-size: 16px;
  color: #718096;
  margin: 20px 0 0;
  font-weight: 500;
  text-align: center;
  letter-spacing: normal;
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0;
}

.duration {
  font-size: 16px;
  color: #a0aec0;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.625;
  text-align: center;
}

.price {
  font-size: 48px;
  color: #1a202c;
  margin: 4px 0;
  font-weight: 700;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0;
}

.feature1button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 60px;
  margin: 0 auto;
  color: #f7fafc;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  font-weight: 700;
}

.pricing__plan--blue {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.name--blue,
.title--blue,
.price--blue {
  color: #f7fafc;
}

.duration--blue {
  color: #edf2f7;
}

.feature--blue {
  color: #e2e8f0;
}

.feature1button--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
}

.feature__button1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
  transition: all 300ms ease;
}

.feature__button1:hover {
  transform: translate(2px, -2px);
  --tw-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.feature__button2 {
  background-color: #f7fafc;
  color: #6415ff;
  transition: all 300ms ease;
}

.feature__button2:hover {
  background-color: #ebebeb;
  transform: translate(2px, -2px);
  --tw-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.feature__button3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: #f7fafc;
  transition: all 300ms ease;
}

.feature__button3:hover {
  transform: translate(2px, -2px);
  --tw-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.highlight {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.highlight--blue {
  opacity: 0;
}

.highlight--coral {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.container__pricing {
  padding: 96px 24px;
}

/*

TESTIMONIALS

*/

.container__testimonials {
  padding: 96px 24px;
}

.row__testimonials {
  display: flex;
}

.fivestars {
  color: #fabf2a;
}

.testimonials__image {
  width: 100%;
  padding: 108px 0;
}

.testimonials__text {
  width: 77.5%;
  padding: 0 0 0 64px;
}

.testimonials__subtitle {
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 0.75;
}

.testimonials__title {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
  line-height: 1.25;
}

.testimonials__description {
  margin: 24px 0 32px 0;
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

.fivestars__title {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 16px 0 0;
  letter-spacing: normal;
}

.fivestars__description {
  margin: 16px 0 40px;
  font-size: 16px;
  color: #4a5568;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: normal;
  width: 576px;
}

.profile__profile--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pfp {
  height: 80px;
  width: 80px;
  border-radius: 9999px;
}

.profile--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__name {
  margin-left: 24px;
}

.profile__title {
  margin-left: 24px;
}

.profile__name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  letter-spacing: normal;
}

.profile__title {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
  letter-spacing: normal;
}

.fa-arrow-left {
  color: #6415ff;
  padding: 16px;
  margin: 0px 12px;
  background-color: #edf2f7;
  border: none;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.fa-arrow-left:hover {
  background-color: #d8e0e8;
}

.fa-arrow-right {
  color: #6415ff;
  padding: 16px;
  margin: 0px 12px;
  background-color: #edf2f7;
  border: none;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.fa-arrow-right:hover {
  background-color: #d8e0e8;
}

/*

FINAL NOTE

*/

.container__note {
  padding-top: 96px;
  padding-bottom: 192px;
}

.note__text--wrapper {
  background-color: #6415ff;
  width: 1280px;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.note__text--wrapper1 {
  margin: 0px 128px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
}

.note__text {
  font-size: 30px;
  color: #f7fafc;
  font-weight: 700;
  letter-spacing: normal;
  width: 480px;
}

.note__button1 {
  background-color: #f56565;
  color: #f7fafc;
  font-size: 16px;
  margin-right: 32px;
  padding: 20px 40px;
  margin-left: 96px;
  max-height: 66px;
  font-weight: 700;
  letter-spacing: 0.025em;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: all 300ms ease;
}

.note__button1:hover {
  background-color: #c74242;
}

.note__button2 {
  font-size: 16px;
  color: #f7fafc;
  padding: 20px 40px;
  border: 1px solid;
  border-color: rgba(160, 174, 192);
  font-weight: 700;
  letter-spacing: 0.025em;
  max-height: 66px;
  transition: all 300ms ease;
}

.note__button2:hover {
  color: #6415ff;
  background-color: #f7fafc;
}

/*

FOOTER

*/

footer {
  background-color: #6415ff;
}

.footer__text--wrapper1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
  border-bottom: 2px solid;
  border-color: rgba(116, 44, 255);
}

.footer__text--wrapper {
  margin: 60px 0 0;
}

.footer__link-title {
  color: #f7fafc;
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0;
}

.footer__link-name {
  color: #f7fafc;
  font-weight: 500;
  letter-spacing: normal;
  margin: 12px 0 0;
  font-size: 14px;
  transition: all 300ms ease;
}

.footer__link-name:hover {
  text-decoration: underline 3px solid white;
}

.footer__bottom--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px 72px 0px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 32px;
  height: 32px;
}

.footer__logo-title {
  margin: 0 0 0 8px;
  font-size: 20px;
  color: #f7fafc;
  letter-spacing: 0.05em;
  font-weight: 900;
}

.fab {
  padding: 8px;
  background-color: #f7fafc;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  color: black;
  transition: all 300ms ease;
}

.fa-facebook-f {
  margin-right: 12px;
  padding: 8px 12px;
}

.fab:hover {
  background-color: lightgray;
}

.fa-twitter {
  margin-right: 12px;
  padding: 8px;
}

.footer__copyright {
  font-size: 16px;
  color: #c8d5e0;
  font-weight: 500;
}

@media (max-width: 1024px) {

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 32p
    x;
  }

  .section__header {
    padding-left: 32px;
  }

  .landing__img {
    padding-right: 32px;
  }

  .nav__link {
    display: none;
  }

  .nav__btn {
    display: none;
  }

  .header__login--btn {
    padding: 10px 12px;
    top: 12px;
    right: -32px;
  }

  .features__image {
    width: calc(100% / 2);
  }

  .quality__works--text {
    padding-left: 32px;
  }

  .quality__work--image {
    padding-right: 32px;
    padding-top: 64px;
  }

  .values__text--wrapper {
    padding-left: 32px;
  }
  
  .values__img {
    padding-right: 32px;
    padding-top: 72px;
  }
}
